 
<?php

$con=mysqli_connect("localhost","esneezeg_sat","arisen@1234","esneezeg_testmagento_new") or die(mysqli_connect_error());
$query="SELECT * FROM esneezeg_custom_popup";
$exe_query=mysqli_query($con,$query);
while($row=mysqli_fetch_array($exe_query))
{
	if($row['id']==72){
            $msg_one=$row["post_popup"];//Saving that popups in variables!
            $msg_two=$row["face_popup"];
            $msg_five=$row["adjustable_popup"];
            $msg_six=$row["cart_popup"];
            $msg_nine=$row["option_popup"];
        }else if($row['id']==55){
            $msg_three=$row["post_popup"];
        }else if($row['id']==114){
            $msg_four=$row["option_popup"];
        }else if($row['id']==120){
            $msg_seven=$row['message'];
            $msg_eight=$row['opiton1_popup'];
        }else if($row['id']==56){
            $msg_ten=$row['glass_popup'];
        } else if($row['id']==200) {
            $msg_eleven = $row['message'];
        }
}

//http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/key/0e212c103877f4145a77f62bb2e1ff3a/
//http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/key/0e212c103877f4145a77f62bb2e1ff3a/
//http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/key/0e212c103877f4145a77f62bb2e1ff3a/
?>
<div id="messages"></div>
                <div class="content-header">
    <table cellspacing="0">
        <tr>
            <td style="width:50%;"><h3 class="icon-head head-promo-quote">Custom Popups</h3></td>
        </tr>
    </table>
</div>
<div>
<form method="post" action="<?php echo$currentUrl = Mage::helper('core/url')->getCurrentUrl(); ?>" id="edit_form" name="edit_form" method="post" enctype="multipart/form-data">
<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />
<table border="1" width="100%" cellspacing="8" cellpadding="6"  style="border-collapse:collapse; margin-top:30px;">
    <tr style="background:#706B5A;">
        <td style="width: 380px">
            <b>Popup Catagory</b>
        </td>
        <td>
            <b>Popup Message</b>
        </td>
        <td style="width: 35px">
            <b>Action</b>
        </td>
    </tr>
    <tr>
        <td style="width: 360px">
            Custom Popups for all:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_two; ?>
        </td>
        <td style="width: 35px">
		
            <input type="submit" name="edit1" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Custom Post Message Popup for EP5 & EP15:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_one;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit2" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Custom Post Message Popup for EP11 & EP12:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_three;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit3" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Custom Popups for ED20,ES29 ES82,ES53:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_four;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit4" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Custom Popups for Adjustable Glass:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_five;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit5" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Custom Popups for Add to Cart & Quote Shipping Button:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_six;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit6" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Custom Popup for Heat Lamp Centerline Message:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_seven;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit7" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Custom Popup for Heat Lamp Infinite Control Message:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_eight;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit8" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Custom Popup for EP5 Froasted Glass:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_nine;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit9" value="Edit">
        </td>
    </tr>
	<tr>
        <td style="width: 350px">
            Custom Popup for 3/8 Glass for EP5/EP15/EP11/EP12/EP21/EP22/EP36/ES31/ES40/ES67/ES73:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_ten;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit10" value="Edit">
        </td>
    </tr>
    <tr>
        <td style="width: 350px">
            Wish list popup:
        </td>
        <td class="main" style="text-align: justify;">
            <?php echo $msg_eleven;?>
        </td>
        <td style="width: 35px">
            <input type="submit" name="edit11" value="Edit">
        </td>
    </tr>
</table>

</form>    
<?php 
    $edit_text=$val="";
    if(isset($_POST["edit1"])){//if CUSTOM POPUP for ALL is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_two;
        $val=0;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit2"])){//if Custom Post Message Popup for EP5 & EP15 is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_one;
        $val=1;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit3"])){//if Custom Post Message Popup for EP11 & EP12 is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_three;
        $val=2;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit4"])){//if Custom Popups for ED20,ES29 ES82,ES53 is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_four;
        $val=3;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit5"])){//if Custom Popups for Adjustable Glass is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_five;
        $val=4;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit6"])){//if Custom Popups for Add to Cart & Quote Shipping Button is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_six;
        $val=5;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit7"])){//if Custom Popups for Add to Cart & Quote Shipping Button is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_seven;
        $val=6;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit8"])){//if Custom Popups for Add to Cart & Quote Shipping Button is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_eight;
        $val=7;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit9"])){//if Custom Popups for Add to Cart & Quote Shipping Button is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_nine;
        $val=8;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit10"])){//if Custom Popups for Add to Cart & Quote Shipping Button is going to update then the popup value is shown in TEXTAREA
        $edit_text=$msg_ten;
        $val=9;
        $one_hide='display: block;visibility: visible;';
    }else if(isset($_POST["edit11"])){//For wish list message
        $edit_text=$msg_eleven;
        $val=10;
        $one_hide='display: block;visibility: visible;';
    }
	else
	{
        $one_hide='visibility: hidden;display: none;';
	}
//    echo $edit_text;
?>

<?php
if(isset($_POST['update'])){
	$id=$_POST['id'];
	$update_val=$_POST['update_val'];
	
	echo $update_val;
        if($_POST['id']==0){
            if(tep_db_query("UPDATE `esneezeg_custom_popup` SET message= '".$update_val."', opiton1_popup= '".$update_val."', left_popup = '".$update_val."', right_popup = '".$update_val."', face_popup = '".$update_val."' where id <> 120")){//update query for all popups!!
                header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//refresh script!
            }
        }else if($_POST['id']==1){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET post_popup= '".$update_val."' where id=71 or id=72");//again update query for the post popup of specific products
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//agin refreshin the page!
        }else if($_POST['id']==2){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET post_popup= '".$update_val."' where id=55 or id=56");//update query for the post popup for snother specific products!
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//now again refreshing the page!
        }else if($_POST['id']==3){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET option_popup= '".$update_val."' where id=110 or id=111 or id=113 or id=114");//update query for the products which having bay option popup
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//again and again refresh query
        }else if($_POST['id']==4){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET adjustable_popup = '".$update_val."'");//same update query!
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//refreshing query
        }else if($_POST['id']==5){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET cart_popup = '".$update_val."'");//update query
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//refreshing query
        }else if($_POST['id']==6){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET message = '".$update_val."' where id=120");//update query
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//refreshing query
        }else if($_POST['id']==7){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET opiton1_popup = '".$update_val."' where id=120");//update query
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//refreshing query
        }else if($_POST['id']==8){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET option_popup = '".$update_val."' where id=72");//update query
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//refreshing query
        }else if($_POST['id']==9){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET glass_popup = '".$update_val."' where id=56 or id=72 or id=71 or id=55 or id=57 or id=58 or id=59 or id=61 or id=62 or id=63 or id=64");//update query
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//refreshing query
        }else if($_POST['id']==10){
            tep_db_query("UPDATE `esneezeg_custom_popup` SET message = '".$update_val."' where id=200");//update query
            header('Location: http://www.sneezeguard.com/magento/index.php/admin/admin/custom/declaration/'));//refreshing query
        }
	
}

 ?>
<hr style="width: 60%;margin-left: 200px;margin-top: 20px; border-radius: 10px 0 0 0;"><!-- Horizontal rule for split the form in two parts!! -->
<form action="<?php echo $currentUrl = Mage::helper('core/url')->getCurrentUrl();?>" method="post" enctype="multipart/form-data">
<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />

    <!--<table style="<?php echo $one_hide;?>"><!-- A new form which is updating the Popups!! -->
	<table style="<?php echo $one_hide;?>"><!-- A new form which is updating the Popups!! -->
	    <tr>
        <td style="width: 300px">
            Change Custom Message:<input type="hidden" name="id" value="<?php echo $val;?>">
        </td>
        <td>
            <textarea name="update_val" rows="18" cols="100"><?php echo $edit_text;?></textarea>
        </td>
    </tr>
    <tr>
        <td colspan='2'>
            <center><input type="submit" name="update" value="Update Values" /></center>
        </td>
    </tr>
    
</table>
    <span style="color: #e5e5e5"></span>
</form>  


<!--
<form action="<?php echo $currentUrl = Mage::helper('core/url')->getCurrentUrl();?>" method="post" enctype="multipart/form-data">
<input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey(); ?>" />

    <table style="display: block;visibility: visible;">
    <tbody><tr>
        <td style="width: 300px">
            Change Custom Message:<input type="hidden" name="id" value="0">
        </td>
        <td>
            <textarea name="update_val" id="update_val" aria-hidden="true" style="display: none;"><?php echo$edit_text; ?></textarea>
			<span role="application" aria-labelledby="update_val_voice" id="update_val_parent" class="mceEditor o2k7Skin">
			<span class="mceVoiceLabel" style="display:none;" id="update_val_voice">Rich Text Area</span>
			<table role="presentation" id="update_val_tbl" class="mceLayout" cellspacing="0" cellpadding="0" style="width: 163px; height: 100px;">
			<tbody>
			<tr role="presentation" class="mceFirst">
			<td class="mceToolbar mceLeft mceFirst mceLast" role="toolbar">
			<div id="update_val_toolbargroup" role="group" aria-labelledby="update_val_toolbargroup_voice" tabindex="-1">
			<span role="application"><span id="update_val_toolbargroup_voice" class="mceVoiceLabel" style="display:none;">Toolbar</span>
			<table id="update_val_toolbar1" class="mceToolbar mceToolbarRow1 Enabled" cellpadding="0" cellspacing="0" align="" role="presentation" tabindex="-1" aria-disabled="false" aria-pressed="false">
			<tbody><tr>
			<td class="mceToolbarStart mceToolbarStartButton mceFirst"><span></span></td>
			<td style="position: relative"><a role="button" id="update_val_bold" href="javascript:;" class="mceButton mceButtonEnabled mce_bold" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_bold_voice" title="Bold (Ctrl+B)" tabindex="-1">
			<span class="mceIcon mce_bold"></span>
			<span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_bold_voice">Bold (Ctrl+B)</span></a></td>
			<td style="position: relative"><a role="button" id="update_val_italic" href="javascript:;" class="mceButton mceButtonEnabled mce_italic" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_italic_voice" title="Italic (Ctrl+I)" tabindex="-1">
			<span class="mceIcon mce_italic"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_italic_voice">Italic (Ctrl+I)</span></a></td>
			<td style="position: relative"><a role="button" id="update_val_underline" href="javascript:;" class="mceButton mceButtonEnabled mce_underline" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_underline_voice" title="Underline (Ctrl+U)" tabindex="-1"><span class="mceIcon mce_underline"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_underline_voice">Underline (Ctrl+U)</span></a></td>
			<td style="position: relative"><a role="button" id="update_val_strikethrough" href="javascript:;" class="mceButton mceButtonEnabled mce_strikethrough" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_strikethrough_voice" title="Strikethrough" tabindex="-1"><span class="mceIcon mce_strikethrough"></span>
			<span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_strikethrough_voice">Strikethrough</span></a></td>
			<td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td>
			<td style="position: relative"><a role="button" id="update_val_justifyleft" href="javascript:;" class="mceButton mceButtonEnabled mce_justifyleft" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_justifyleft_voice" title="Align Left" tabindex="-1"><span class="mceIcon mce_justifyleft"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_justifyleft_voice">Align Left</span></a></td>
			<td style="position: relative"><a role="button" id="update_val_justifycenter" href="javascript:;" class="mceButton mceButtonEnabled mce_justifycenter" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_justifycenter_voice" title="Align Center" tabindex="-1"><span class="mceIcon mce_justifycenter"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_justifycenter_voice">Align Center</span></a></td>
			<td style="position: relative"><a role="button" id="update_val_justifyright" href="javascript:;" class="mceButton mceButtonEnabled mce_justifyright" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_justifyright_voice" title="Align Right" tabindex="-1"><span class="mceIcon mce_justifyright"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_justifyright_voice">Align Right</span></a></td>
			<td style="position: relative"><a role="button" id="update_val_justifyfull" href="javascript:;" class="mceButton mceButtonEnabled mce_justifyfull" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_justifyfull_voice" title="Align Full" tabindex="-1"><span class="mceIcon mce_justifyfull"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_justifyfull_voice">Align Full</span></a></td>
			<td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td>
			<td style="position: relative"><span role="listbox" aria-haspopup="true" aria-labelledby="update_val_formatselect_voiceDesc" aria-describedby="update_val_formatselect_voiceDesc">
			<table role="presentation" tabindex="-1" id="update_val_formatselect" cellpadding="0" cellspacing="0" class="mceListBox mceListBoxEnabled mce_formatselect" aria-valuenow="Paragraph">
			<tbody>
			<tr>
			<td class="mceFirst"><span id="update_val_formatselect_voiceDesc" class="voiceLabel" style="display:none;">Format - Paragraph</span><a id="update_val_formatselect_text" tabindex="-1" href="javascript:;" class="mceText" onclick="return false;" onmousedown="return false;">Paragraph</a></td>
			<td class="mceLast"><a id="update_val_formatselect_open" tabindex="-1" href="javascript:;" class="mceOpen" onclick="return false;" onmousedown="return false;"><span><span style="display:none;" class="mceIconOnly" aria-hidden="true">▼</span></span></a></td>
			</tr>
			</tbody>
			</table>
			</span></td>
			<td style="position: relative"><span role="listbox" aria-haspopup="true" aria-labelledby="update_val_fontselect_voiceDesc" aria-describedby="update_val_fontselect_voiceDesc">
			<table role="presentation" tabindex="-1" id="update_val_fontselect" cellpadding="0" cellspacing="0" class="mceListBox mceListBoxEnabled mce_fontselect" aria-valuenow="Font Family">
			<tbody>
			<tr>
			<td class="mceFirst"><span id="update_val_fontselect_voiceDesc" class="voiceLabel" style="display:none;">Font Family</span><a id="update_val_fontselect_text" tabindex="-1" href="javascript:;" class="mceText mceTitle" onclick="return false;" onmousedown="return false;">Font Family</a></td>
			<td class="mceLast"><a id="update_val_fontselect_open" tabindex="-1" href="javascript:;" class="mceOpen" onclick="return false;" onmousedown="return false;"><span><span style="display:none;" class="mceIconOnly" aria-hidden="true">▼</span></span></a></td>
			</tr></tbody>
			</table></span></td>
			<td style="position: relative"><span role="listbox" aria-haspopup="true" aria-labelledby="update_val_fontsizeselect_voiceDesc" aria-describedby="update_val_fontsizeselect_voiceDesc">
			<table role="presentation" tabindex="-1" id="update_val_fontsizeselect" cellpadding="0" cellspacing="0" class="mceListBox mceListBoxEnabled mce_fontsizeselect" aria-valuenow="Font Size">
			<tbody><tr>
			<td class="mceFirst"><span id="update_val_fontsizeselect_voiceDesc" class="voiceLabel" style="display:none;">Font Size</span><a id="update_val_fontsizeselect_text" tabindex="-1" href="javascript:;" class="mceText mceTitle" onclick="return false;" onmousedown="return false;">Font Size</a></td>
			<td class="mceLast"><a id="update_val_fontsizeselect_open" tabindex="-1" href="javascript:;" class="mceOpen" onclick="return false;" onmousedown="return false;"><span><span style="display:none;" class="mceIconOnly" aria-hidden="true">▼</span></span></a></td>
			</tr></tbody></table>
			</span></td>
			<td class="mceToolbarEnd mceToolbarEndListBox mceLast"><span></span></td></tr>
			</tbody></table>
			<table id="update_val_toolbar2" class="mceToolbar mceToolbarRow2 Enabled" cellpadding="0" cellspacing="0" align="" role="presentation" tabindex="-1" aria-disabled="false" aria-pressed="false">
			<tbody>
			<tr>
			<td class="mceToolbarStart mceToolbarStartButton mceFirst"><span></span></td>
			<td style="position: relative"><div id="update_val_forecolor" role="button" tabindex="-1" aria-labelledby="update_val_forecolor_voice" aria-haspopup="true">
			<table role="presentation" class="mceSplitButton mceSplitButtonEnabled mce_forecolor" cellpadding="0" cellspacing="0" title="Select Text Color">
			<tbody><tr>
			<td class="mceFirst"><a role="button" id="update_val_forecolor_action" tabindex="-1" href="javascript:;" class="mceAction mce_forecolor" onclick="return false;" onmousedown="return false;" title="Select Text Color"><span class="mceAction mce_forecolor"></span><span class="mceVoiceLabel mceIconOnly" id="update_val_forecolor_voice" style="display:none;">Select Text Color</span><div id="update_val_forecolor_preview" class="mceColorPreview" style="background-color: rgb(136, 136, 136);"></div></a></td>
			<td class="mceLast"><a role="button" id="update_val_forecolor_open" tabindex="-1" href="javascript:;" class="mceOpen mce_forecolor" onclick="return false;" onmousedown="return false;" title="Select Text Color"><span class="mceOpen mce_forecolor"><span style="display:none;" class="mceIconOnly" aria-hidden="true">▼</span></span></a></td>
			</tr></tbody></table>
			</div></td>
			<td style="position: relative"><div id="update_val_backcolor" role="button" tabindex="-1" aria-labelledby="update_val_backcolor_voice" aria-haspopup="true">
			<table role="presentation" class="mceSplitButton mceSplitButtonEnabled mce_backcolor" cellpadding="0" cellspacing="0" title="Select Background Color">
			<tbody><tr>
			<td class="mceFirst"><a role="button" id="update_val_backcolor_action" tabindex="-1" href="javascript:;" class="mceAction mce_backcolor" onclick="return false;" onmousedown="return false;" title="Select Background Color"><span class="mceAction mce_backcolor"></span><span class="mceVoiceLabel mceIconOnly" id="update_val_backcolor_voice" style="display:none;">Select Background Color</span><div id="update_val_backcolor_preview" class="mceColorPreview" style="background-color: rgb(136, 136, 136);"></div></a></td>
			<td class="mceLast"><a role="button" id="update_val_backcolor_open" tabindex="-1" href="javascript:;" class="mceOpen mce_backcolor" onclick="return false;" onmousedown="return false;" title="Select Background Color"><span class="mceOpen mce_backcolor"><span style="display:none;" class="mceIconOnly" aria-hidden="true">▼</span></span></a></td>
			</tr></tbody></table></div></td>
			<td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td>
			<td style="position: relative"><a role="button" id="update_val_cut" href="javascript:;" class="mceButton mceButtonEnabled mce_cut" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_cut_voice" title="Cut (Ctrl+X)" tabindex="-1"><span class="mceIcon mce_cut"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_cut_voice">Cut (Ctrl+X)</span></a></td><td style="position: relative"><a role="button" id="update_val_copy" href="javascript:;" class="mceButton mceButtonEnabled mce_copy" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_copy_voice" title="Copy (Ctrl+C)" tabindex="-1"><span class="mceIcon mce_copy"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_copy_voice">Copy (Ctrl+C)</span></a></td><td style="position: relative"><a role="button" id="update_val_paste" href="javascript:;" class="mceButton mceButtonEnabled mce_paste" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_paste_voice" title="Paste (Ctrl+V)" tabindex="-1"><span class="mceIcon mce_paste"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_paste_voice">Paste (Ctrl+V)</span></a></td><td style="position: relative"><a role="button" id="update_val_pastetext" href="javascript:;" class="mceButton mceButtonEnabled mce_pastetext" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_pastetext_voice" title="Paste as Plain Text" tabindex="-1"><span class="mceIcon mce_pastetext"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_pastetext_voice">Paste as Plain Text</span></a></td><td style="position: relative"><a role="button" id="update_val_pasteword" href="javascript:;" class="mceButton mceButtonEnabled mce_pasteword" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_pasteword_voice" title="Paste from Word" tabindex="-1"><span class="mceIcon mce_pasteword"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_pasteword_voice">Paste from Word</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_search" href="javascript:;" class="mceButton mceButtonEnabled mce_search" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_search_voice" title="Find" tabindex="-1"><span class="mceIcon mce_search"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_search_voice">Find</span></a></td><td style="position: relative"><a role="button" id="update_val_replace" href="javascript:;" class="mceButton mceButtonEnabled mce_replace" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_replace_voice" title="Find/Replace" tabindex="-1"><span class="mceIcon mce_replace"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_replace_voice">Find/Replace</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_bullist" href="javascript:;" class="mceButton mceButtonEnabled mce_bullist" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_bullist_voice" title="Insert/Remove Bulleted List" tabindex="-1" aria-pressed="false"><span class="mceIcon mce_bullist"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_bullist_voice">Insert/Remove Bulleted List</span></a></td><td style="position: relative"><a role="button" id="update_val_numlist" href="javascript:;" class="mceButton mceButtonEnabled mce_numlist" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_numlist_voice" title="Insert/Remove Numbered List" tabindex="-1" aria-pressed="false"><span class="mceIcon mce_numlist"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_numlist_voice">Insert/Remove Numbered List</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_outdent" href="javascript:;" class="mceButton mce_outdent mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_outdent_voice" title="Decrease Indent" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_outdent"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_outdent_voice">Decrease Indent</span></a></td><td style="position: relative"><a role="button" id="update_val_indent" href="javascript:;" class="mceButton mceButtonEnabled mce_indent" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_indent_voice" title="Increase Indent" tabindex="-1"><span class="mceIcon mce_indent"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_indent_voice">Increase Indent</span></a></td><td style="position: relative"><a role="button" id="update_val_blockquote" href="javascript:;" class="mceButton mceButtonEnabled mce_blockquote" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_blockquote_voice" title="Block Quote" tabindex="-1"><span class="mceIcon mce_blockquote"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_blockquote_voice">Block Quote</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_undo" href="javascript:;" class="mceButton mce_undo mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_undo_voice" title="Undo (Ctrl+Z)" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_undo"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_undo_voice">Undo (Ctrl+Z)</span></a></td><td style="position: relative"><a role="button" id="update_val_redo" href="javascript:;" class="mceButton mce_redo mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_redo_voice" title="Redo (Ctrl+Y)" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_redo"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_redo_voice">Redo (Ctrl+Y)</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_link" href="javascript:;" class="mceButton mce_link mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_link_voice" title="Insert/Edit Link" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_link"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_link_voice">Insert/Edit Link</span></a></td><td style="position: relative"><a role="button" id="update_val_unlink" href="javascript:;" class="mceButton mce_unlink mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_unlink_voice" title="Unlink" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_unlink"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_unlink_voice">Unlink</span></a></td><td style="position: relative"><a role="button" id="update_val_anchor" href="javascript:;" class="mceButton mceButtonEnabled mce_anchor" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_anchor_voice" title="Insert/Edit Anchor" tabindex="-1"><span class="mceIcon mce_anchor"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_anchor_voice">Insert/Edit Anchor</span></a></td><td style="position: relative"><a role="button" id="update_val_image" href="javascript:;" class="mceButton mceButtonEnabled mce_image" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_image_voice" title="Insert/Edit Image" tabindex="-1"><span class="mceIcon mce_image"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_image_voice">Insert/Edit Image</span></a></td><td style="position: relative"><a role="button" id="update_val_cleanup" href="javascript:;" class="mceButton mceButtonEnabled mce_cleanup" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_cleanup_voice" title="Cleanup Messy Code" tabindex="-1"><span class="mceIcon mce_cleanup"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_cleanup_voice">Cleanup Messy Code</span></a></td><td style="position: relative"><a role="button" id="update_val_help" href="javascript:;" class="mceButton mceButtonEnabled mce_help" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_help_voice" title="Help" tabindex="-1"><span class="mceIcon mce_help"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_help_voice">Help</span></a></td><td style="position: relative"><a role="button" id="update_val_code" href="javascript:;" class="mceButton mceButtonEnabled mce_code" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_code_voice" title="Edit HTML Source" tabindex="-1"><span class="mceIcon mce_code"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_code_voice">Edit HTML Source</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_insertdate" href="javascript:;" class="mceButton mceButtonEnabled mce_insertdate" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_insertdate_voice" title="Insert Date" tabindex="-1"><span class="mceIcon mce_insertdate"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_insertdate_voice">Insert Date</span></a></td><td style="position: relative"><a role="button" id="update_val_inserttime" href="javascript:;" class="mceButton mceButtonEnabled mce_inserttime" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_inserttime_voice" title="Insert Time" tabindex="-1"><span class="mceIcon mce_inserttime"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_inserttime_voice">Insert Time</span></a></td><td style="position: relative"><a role="button" id="update_val_preview" href="javascript:;" class="mceButton mceButtonEnabled mce_preview" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_preview_voice" title="Preview" tabindex="-1"><span class="mceIcon mce_preview"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_preview_voice">Preview</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td class="mceToolbarEnd mceLast"><span></span></td></tr></tbody></table><table id="update_val_toolbar3" class="mceToolbar mceToolbarRow3 Enabled" cellpadding="0" cellspacing="0" align="" role="presentation" tabindex="-1" aria-disabled="false" aria-pressed="false"><tbody><tr><td class="mceToolbarStart mceToolbarStartButton mceFirst"><span></span></td><td style="position: relative"><a role="button" id="update_val_table" href="javascript:;" class="mceButton mceButtonEnabled mce_table" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_table_voice" title="Insert/Edit Table" tabindex="-1"><span class="mceIcon mce_table"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_table_voice">Insert/Edit Table</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_row_props" href="javascript:;" class="mceButton mce_row_props mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_row_props_voice" title="Table Row Properties" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_row_props"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_row_props_voice">Table Row Properties</span></a></td><td style="position: relative"><a role="button" id="update_val_cell_props" href="javascript:;" class="mceButton mce_cell_props mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_cell_props_voice" title="Table Cell Properties" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_cell_props"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_cell_props_voice">Table Cell Properties</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_row_before" href="javascript:;" class="mceButton mce_row_before mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_row_before_voice" title="Insert Row Before" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_row_before"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_row_before_voice">Insert Row Before</span></a></td><td style="position: relative"><a role="button" id="update_val_row_after" href="javascript:;" class="mceButton mce_row_after mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_row_after_voice" title="Insert Row After" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_row_after"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_row_after_voice">Insert Row After</span></a></td><td style="position: relative"><a role="button" id="update_val_delete_row" href="javascript:;" class="mceButton mce_delete_row mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_delete_row_voice" title="Delete Row" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_delete_row"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_delete_row_voice">Delete Row</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_col_before" href="javascript:;" class="mceButton mce_col_before mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_col_before_voice" title="Insert Column Before" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_col_before"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_col_before_voice">Insert Column Before</span></a></td><td style="position: relative"><a role="button" id="update_val_col_after" href="javascript:;" class="mceButton mce_col_after mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_col_after_voice" title="Insert Column After" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_col_after"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_col_after_voice">Insert Column After</span></a></td><td style="position: relative"><a role="button" id="update_val_delete_col" href="javascript:;" class="mceButton mce_delete_col mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_delete_col_voice" title="Delete Column" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_delete_col"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_delete_col_voice">Delete Column</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_split_cells" href="javascript:;" class="mceButton mce_split_cells mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_split_cells_voice" title="Split Merged Table Cells" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_split_cells"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_split_cells_voice">Split Merged Table Cells</span></a></td><td style="position: relative"><a role="button" id="update_val_merge_cells" href="javascript:;" class="mceButton mce_merge_cells mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_merge_cells_voice" title="Merge Table Cells" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_merge_cells"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_merge_cells_voice">Merge Table Cells</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_hr" href="javascript:;" class="mceButton mceButtonEnabled mce_hr" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_hr_voice" title="Insert Horizontal Line" tabindex="-1"><span class="mceIcon mce_hr"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_hr_voice">Insert Horizontal Line</span></a></td><td style="position: relative"><a role="button" id="update_val_removeformat" href="javascript:;" class="mceButton mceButtonEnabled mce_removeformat" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_removeformat_voice" title="Remove Formatting" tabindex="-1"><span class="mceIcon mce_removeformat"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_removeformat_voice">Remove Formatting</span></a></td><td style="position: relative"><a role="button" id="update_val_visualaid" href="javascript:;" class="mceButton mceButtonEnabled mce_visualaid mceButtonActive" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_visualaid_voice" title="show/Hide Guidelines/Invisible Elements" tabindex="-1" aria-pressed="true"><span class="mceIcon mce_visualaid"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_visualaid_voice">show/Hide Guidelines/Invisible Elements</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_sub" href="javascript:;" class="mceButton mceButtonEnabled mce_sub" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_sub_voice" title="Subscript" tabindex="-1"><span class="mceIcon mce_sub"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_sub_voice">Subscript</span></a></td><td style="position: relative"><a role="button" id="update_val_sup" href="javascript:;" class="mceButton mceButtonEnabled mce_sup" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_sup_voice" title="Superscript" tabindex="-1"><span class="mceIcon mce_sup"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_sup_voice">Superscript</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_charmap" href="javascript:;" class="mceButton mceButtonEnabled mce_charmap" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_charmap_voice" title="Insert Special Character" tabindex="-1"><span class="mceIcon mce_charmap"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_charmap_voice">Insert Special Character</span></a></td><td style="position: relative"><a role="button" id="update_val_emotions" href="javascript:;" class="mceButton mceButtonEnabled mce_emotions" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_emotions_voice" title="Emotions" tabindex="-1"><span class="mceIcon mce_emotions"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_emotions_voice">Emotions</span></a></td><td style="position: relative"><a role="button" id="update_val_media" href="javascript:;" class="mceButton mceButtonEnabled mce_media" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_media_voice" title="Insert/Edit Embedded Media" tabindex="-1"><span class="mceIcon mce_media"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_media_voice">Insert/Edit Embedded Media</span></a></td><td style="position: relative"><a role="button" id="update_val_advhr" href="javascript:;" class="mceButton mceButtonEnabled mce_advhr" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_advhr_voice" title="Insert Horizontal Line" tabindex="-1"><span class="mceIcon mce_advhr"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_advhr_voice">Insert Horizontal Line</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_print" href="javascript:;" class="mceButton mceButtonEnabled mce_print" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_print_voice" title="Print" tabindex="-1"><span class="mceIcon mce_print"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_print_voice">Print</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_ltr" href="javascript:;" class="mceButton mceButtonEnabled mce_ltr" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_ltr_voice" title="Direction Left to Right" tabindex="-1"><span class="mceIcon mce_ltr"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_ltr_voice">Direction Left to Right</span></a></td><td style="position: relative"><a role="button" id="update_val_rtl" href="javascript:;" class="mceButton mceButtonEnabled mce_rtl" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_rtl_voice" title="Direction Right to Left" tabindex="-1"><span class="mceIcon mce_rtl"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_rtl_voice">Direction Right to Left</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_fullscreen" href="javascript:;" class="mceButton mceButtonEnabled mce_fullscreen" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_fullscreen_voice" title="Toggle Full Screen Mode" tabindex="-1" aria-pressed="false"><span class="mceIcon mce_fullscreen"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_fullscreen_voice">Toggle Full Screen Mode</span></a></td><td class="mceToolbarEnd mceToolbarEndButton mceLast"><span></span></td></tr></tbody></table><table id="update_val_toolbar4" class="mceToolbar mceToolbarRow4 Enabled" cellpadding="0" cellspacing="0" align="" role="presentation" tabindex="-1" aria-disabled="false" aria-pressed="false"><tbody><tr><td class="mceToolbarStart mceToolbarStartButton mceFirst"><span></span></td><td style="position: relative"><a role="button" id="update_val_insertlayer" href="javascript:;" class="mceButton mceButtonEnabled mce_insertlayer" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_insertlayer_voice" title="Insert New Layer" tabindex="-1"><span class="mceIcon mce_insertlayer"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_insertlayer_voice">Insert New Layer</span></a></td><td style="position: relative"><a role="button" id="update_val_moveforward" href="javascript:;" class="mceButton mce_moveforward mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_moveforward_voice" title="Move Forward" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_moveforward"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_moveforward_voice">Move Forward</span></a></td><td style="position: relative"><a role="button" id="update_val_movebackward" href="javascript:;" class="mceButton mce_movebackward mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_movebackward_voice" title="Move Backward" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_movebackward"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_movebackward_voice">Move Backward</span></a></td><td style="position: relative"><a role="button" id="update_val_absolute" href="javascript:;" class="mceButton mceButtonEnabled mce_absolute" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_absolute_voice" title="Toggle Absolute Positioning" tabindex="-1" aria-pressed="false"><span class="mceIcon mce_absolute"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_absolute_voice">Toggle Absolute Positioning</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_styleprops" href="javascript:;" class="mceButton mceButtonEnabled mce_styleprops" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_styleprops_voice" title="Edit CSS Style" tabindex="-1"><span class="mceIcon mce_styleprops"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_styleprops_voice">Edit CSS Style</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_cite" href="javascript:;" class="mceButton mce_cite mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_cite_voice" title="Citation" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_cite"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_cite_voice">Citation</span></a></td><td style="position: relative"><a role="button" id="update_val_abbr" href="javascript:;" class="mceButton mce_abbr mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_abbr_voice" title="Abbreviation" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_abbr"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_abbr_voice">Abbreviation</span></a></td><td style="position: relative"><a role="button" id="update_val_acronym" href="javascript:;" class="mceButton mce_acronym mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_acronym_voice" title="Acronym" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_acronym"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_acronym_voice">Acronym</span></a></td><td style="position: relative"><a role="button" id="update_val_del" href="javascript:;" class="mceButton mce_del mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_del_voice" title="Deletion" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_del"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_del_voice">Deletion</span></a></td><td style="position: relative"><a role="button" id="update_val_ins" href="javascript:;" class="mceButton mce_ins mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_ins_voice" title="Insertion" tabindex="-1" aria-disabled="true"><span class="mceIcon mce_ins"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_ins_voice">Insertion</span></a></td><td style="position: relative"><a role="button" id="update_val_attribs" href="javascript:;" class="mceButton mceButtonEnabled mce_attribs" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_attribs_voice" title="Insert/Edit Attributes" tabindex="-1" aria-disabled="false"><span class="mceIcon mce_attribs"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_attribs_voice">Insert/Edit Attributes</span></a></td><td style="position: relative"><span class="mceSeparator" role="separator" aria-orientation="vertical" tabindex="-1"></span></td><td style="position: relative"><a role="button" id="update_val_visualchars" href="javascript:;" class="mceButton mceButtonEnabled mce_visualchars" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_visualchars_voice" title="Show/Hide Visual Control Characters" tabindex="-1"><span class="mceIcon mce_visualchars"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_visualchars_voice">Show/Hide Visual Control Characters</span></a></td><td style="position: relative"><a role="button" id="update_val_nonbreaking" href="javascript:;" class="mceButton mceButtonEnabled mce_nonbreaking" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_nonbreaking_voice" title="Insert Non-Breaking Space Character" tabindex="-1"><span class="mceIcon mce_nonbreaking"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_nonbreaking_voice">Insert Non-Breaking Space Character</span></a></td><td style="position: relative"><a role="button" id="update_val_template" href="javascript:;" class="mceButton mceButtonEnabled mce_template" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_template_voice" title="Insert Predefined Template Content" tabindex="-1"><span class="mceIcon mce_template"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_template_voice">Insert Predefined Template Content</span></a></td><td style="position: relative"><a role="button" id="update_val_pagebreak" href="javascript:;" class="mceButton mceButtonEnabled mce_pagebreak" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_pagebreak_voice" title="Insert Page Break for Printing" tabindex="-1"><span class="mceIcon mce_pagebreak"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_pagebreak_voice">Insert Page Break for Printing</span></a></td><td style="position: relative"><a role="button" id="update_val_restoredraft" href="javascript:;" class="mceButton mce_restoredraft mceButtonDisabled" onmousedown="return false;" onclick="return false;" aria-labelledby="update_val_restoredraft_voice" title="Restore auto-saved content." tabindex="-1" aria-disabled="true"><span class="mceIcon mce_restoredraft"></span><span class="mceVoiceLabel mceIconOnly" style="display: none;" id="update_val_restoredraft_voice">Restore auto-saved content.</span></a></td><td class="mceToolbarEnd mceToolbarEndButton mceLast"><span></span></td></tr></tbody></table></span></div><a href="#" accesskey="z" title="Jump to tool buttons - Alt+Q, Jump to editor - Alt-Z, Jump to element path - Alt-X" onfocus="tinyMCE.getInstanceById('update_val').focus();"></a></td></tr><tr><td class="mceIframeContainer mceFirst mceLast"><iframe id="update_val_ifr" src='javascript:""' frameborder="0" allowtransparency="true" title="Rich Text AreaPress ALT-F10 for toolbar. Press ALT-0 for help" style="width: 100%; height: 100px; display: block;"></iframe></td></tr><tr class="mceLast"><td class="mceStatusbar mceFirst mceLast"><div id="update_val_path_row" role="group" aria-labelledby="update_val_path_voice"><span>&nbsp;</span></div></td></tr></tbody></table></span>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <center><input type="submit" name="update" value="Update Values"></center>
        </td>
    </tr>
    
</tbody></table>
    <span style="color: #e5e5e5"></span>
</form>-->