h1 { font-size:20px; font-weight:700; margin:0; padding:0; color:#333 }
h2 { font-size:14px; font-weight:400; margin:5px 0; padding:5px 0; color:#333; text-align:left }
#hts_viewing  { font-size:10px; font-weight:400; margin-bottom:0; color:#9a9a9a; padding:6px 5px; text-align:center }
#hts_viewing a  { color:#9a9a9a }
.hts_listing_text { font-size:10px; font-weight:400; margin-bottom:0; color:#9a9a9a; padding:6px 5px }
.hts_listing_text a { color:#ff0000 }
.hts_listing_see_more  { color:#ff0000 } 
.hts_sub_text { font-size:10px; font-weight:400; margin-bottom:0; color:#9a9a9a; padding:10px 0 }
.hts_bookmarks {padding:10px 0}
.hts_additional_container {color:#9a9a9a; font-size:11px; margin-bottom:20px}
.hts_additional {color:#444; font-size:11px; font-weight:bold; margin-bottom:20px}
a.hts_additional:link  {color:#999; font-size:11px; font-weight:bold; margin-bottom:20px}
a.hts_additional:hover  {color:#999; font-size:11px; font-weight:bold; margin-bottom:20px}
.hts_model_xref_img {display:flex; align-items:center; padding-bottom:10px}
a.hts_model_xref:link {color:#000; font-size:11px;padding-left:10px}
a.hts_model_xref:hover {color:#000; font-size:11px}
#hts_page_top  { margin-bottom:-10px; color:#777; font-size:10px; text-align:center }
#hts_header  { position:absolute; top:0; left:40%; color:#777; font-size:10px; text-align:center}
#hts_footer  { background-color:#F5F5F5; padding:6px 5px; text-align:center }
span.hts_footer_title { font-size:1.2em; color:#000; text-align:center }
#tagcloud { color:#06F; text-align:center; -moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; padding:10px }
#tagcloud a:link,#tagcloud a:visited { text-decoration:none; color:#333 }
#tagcloud a:hover { text-decoration:underline }
#tagcloud span { padding:4px }
#tagcloud .smallest { font-size:x-small }
#tagcloud .small { font-size:small }
#tagcloud .medium { font-size:medium }
#tagcloud .large { font-size:large }
#tagcloud .largest { font-size:larger }