A:link {text-decoration: none; color: #FFFFFF;}
A:visited {text-decoration: none; color: #FFFFFF;}
A:active {text-decoration: none; color: #d8d8d8;}
A:hover {color: #d8d8d8;}

.ProjListCSS {
  background: #FFFFFF;
  }
  
.toplink {
 font-size: 9px;
 padding:0px;
 margin:0px;
}

body {
  background: #171717;
  font-family: Tahoma;
}
form{
    margin:0px;
	
}

.contentText, .contentText table {
  /*padding: 5px 0 5px 0;*/
  font-size: 14px;
  line-height: 1.5;
}
.form_white{
width:100% !important;
background: #FFFFFF !important;  
}
.form_white h2{
	color:black;
	font-size:16px;
}
.form_white4{
width:100% !important;
background: #FFFFFF !important;  
}

.form_white td{
background: #FFFFFF !important; 
color: #000000;
}
.form_white4 td{
/*background: #CCC!important; */
color: #000000;
}
.form_white4 tr{
/*background: #CCC !important;*/
color: #000000;
}

.form_white  a{
background: #FFFFFF; 
color: #000000;
}

.form_white_cart {
background: #FFFFFF; width:100%;   
 
color: #000000 !important; 
}
.form_white_cart td{

color: #000000;
}

.form_white_cart p{

color: #000000;
}
.form_white_cart a{
background: #FFFFFF; 
color: #000000;
}


.modName {
  font-size: 13px;
  color: #c38731;
  font-weight: bold;
  line-height: 22px;
  text-align: left;
}
.contentContainer{
/*background:#FFFFFF !important;; 
    /*text-align:left;*/
}
table tr td.head{
    background:#879385;
}
table tr td.dateil{
    background:#f0f0f0;
}
.projName {
  font-size: 18px;
  color: #c38731;
  font-weight: bold;
  text-align: left;
  text-indent: 20px;
}

.bulletList {
  font-size: 12px;
  list-style-type: square;
  text-align: left;
  line-height: 16px;
  padding-left: 80px;
  color: #CCCCCC;
  }

.modText {
  font-size: 12px;
  color: #CCCCCC;
  line-height: 16px;
  text-align: left;
}

.modTextFrontPage {
  font-size: 13px;
  color: #CCCCCC;
  line-height: 18px;
  text-align: left;
  height: 55px;
  margin-left: 15px;
  text-indent: 15px;
}

.modTextFrontPageAddl {
  font-size: 13px;
  color: #FFFFFF;
  line-height: 18px;
  text-align: center;
  font-weight: bold;
}

.ProdTime {
  font-size: 13px;
  color: #FFFFFF;
  font-weight: bold;
}



.linkClass A:link {font-weight: bold; font-size: 13px; line-height: 22px; text-decoration: none; color: #c38731;}
.linkClass A:visited {font-weight: bold; font-size: 13px; line-height: 22px; text-decoration: none; color: #c38731;}
.linkClass A:hover {font-weight: bold; font-size: 13px; line-height: 22px; text-decoration: none; color: #c39f31; text-decoration: underline;}
.linkClass {text-align: left;}

.linkClassFront A:link {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #c38731;}
.linkClassFront A:visited {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #c38731;}
.linkClassFront A:hover {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #c39f31; text-decoration: underline;}
.linkClassFront {text-align: left;}

.linkClassFrontStock A:link {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906;}
.linkClassFrontStock A:visited {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906;}
.linkClassFrontStock A:hover {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906; text-decoration: underline;}
.linkClassFrontStock {text-align: left;}

.linkClassOrbit A:link {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906;}
.linkClassOrbit A:visited {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906;}
.linkClassOrbit:hover {font-weight: bold; font-size: 16px; line-height: 22px; text-decoration: none; color: #ccf906; text-decoration: underline;}
.linkClassOrbit {text-align: left;}

.centerDiv {
  margin-left: auto;
  margin-right: auto;
  border-collaps: collapse;
}

.style1 {
    color: #FF0000;
}
td {
    color: #FFFFFF;
    font-family: tahoma,verdana,arial;
    
}
.image_border {
    border: 1px solid #535350;
}
.cart_border {
    border: 1px solid #555552;
}

TABLE.productListing {
    border: 0 solid #464741;
}
.productListing-heading {
    background: none repeat scroll 0 0 #464741;
    border-color: #7F7F7F #929292 #929292;
    border-right: 1px solid #929292;
    border-style: dotted solid solid;
    border-width: 0 1px 3px;
    color: #FFFFFF;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
}
TD.productListing-data {
    border-bottom: 2px solid #929292;
    border-left: 1px solid #929292;
    border-right: 1px solid #929292;
    color: #D0D0D0;
    font-family: Tahoma,Verdana,Arial,sans-serif;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}
.header-left{
	width:250px;
	float:left;
}
.bottom{
width:4px;
height:5px;
padding-top:3px;
background:url(images/bottom.png) no-repeat;

}
.text{
	width:220px;
}
.text_1{
	width:200px;
	float:left;
	text-align:left;
	background:url(images/bottom.png) no-repeat;
	text-decoration:underline;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:inherit;
}
.header-right{
width:600px;
float:right;
margin-top:-320px;
background:#484944;
border:1px solid #FFFFFF;
margin-left:-150px;
}
h1,h2,h3{
	font-family:Arial, Helvetica, sans-serif;
	}
h1{
	font-size:16px;
	color:#c7f900;
	/*padding-top:10px;*/
	margin:0;
}
h2{
	font-size:14px;
	color:#AA471C;
	font-weight:bold;
	text-decoration:none;
}
h3{
	font-size:12px;
	color:#c7f900;
	padding-left:5px;
}
TD.pageHeading, DIV.pageHeading {
    background: url("images/m99.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    height: 34px;
    padding-bottom: 0;
    padding-left: 20px;
    text-decoration: none;
    width: 100%;
}

.messageBox {
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}
.messageStackError, .messageStackWarning {
    background-color: #FFB3B5;
    color: #000000;
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}
.messageStackSuccess {
    /*background-color: #99FF00;*/
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}
.inputRequirement {
    color: #FF0000;
    font-family: Verdana,Arial,sans-serif;
    font-size: 10px;
}


.heading {
	FONT: 13px  Verdana, Arial, Helvetica, sans-serif; COLOR: #c7f900; font-weight:bold;
}


.heading A {
	FONT: 13px  Verdana, Arial, Helvetica, sans-serif; COLOR: #c7f900; font-weight:bold;
}


.sideborders { 
	border-left: #d5d5d5 1px solid; border-bottom: #d5d5d5 1px solid; border-right: #d5d5d5 1px solid;  
}
.linkarea {
	MARGIN-LEFT: 13px; WIDTH: 210px; MARGIN-RIGHT: 13px
}
.leftlinks {
	FONT: 13px/25px  Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none; font-weight:bold;
}
.leftlinks A:hover {
	FONT: 13px/25px Verdana, Arial, Helvetica, sans-serif; COLOR: #ffffff; TEXT-DECORATION: underline; font-weight:bold;
}
.linkborder {
border-bottom:#999999 1px dashed;
}

.leftmenu_topbdr {
	BORDER-TOP: #d5d5d5 0px solid; background:#484844;
}
.leftmenu_bottombdr {
	BORDER-BOTTOM: #d5d5d5 0px solid; background:#484844;
}
.sideborders1 {
	BORDER-RIGHT: #d5d5d5 0px solid; BORDER-LEFT: #d5d5d5 0px solid; TEXT-ALIGN: center;
}

/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#000;
	filter:alpha(opacity=75);
	-moz-opacity: 0.75;
	opacity: 0.75;
}

* html #TB_overlay { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_window {
	position: fixed;
	background: #ffffff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 4px solid #525252;
	text-align:left;
	top:50%;
	left:50%;
}

* html #TB_window { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	border-left: 1px solid #666;
}

#TB_caption{
	height:1px;
	padding:7px 30px 10px 25px;
	float:left;

}

#TB_closeWindow{
	height:25px;
	padding:5px 5px 5px 0px;
	float:right;
}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
	text-align:right;
	float:right;
}

#TB_ajaxWindowTitle{
	float:left;
	padding:7px 0 5px 10px;
	margin-bottom:1px;
	display:none;
}

#TB_title{
	background-color:white;
	height:20px;
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}

* html #TB_load { /* ie6 hack */
position: absolute;
margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}

#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	filter:alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}

* html #TB_HideSelect { /* ie6 hack */
     position: absolute;
     height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}

#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-1px;
	margin-top:1px;
	_margin-bottom:1px;
}

border{
border:none;
}
caler{
	clear:both;
}
h1,h2,h3{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
h1{
	color:#C7F900;
	font-size:13px;
	padding:4px;
	padding-left:30px;
    text-align: left;
	/*padding-top:10px;*/
}
h2{
	font-size:14px;
	color:#AA471C;
	font-weight:bold;
}
h3{
	font-size:14px;
	color:#fff;
	padding-left:5px;
}

.firstH2{
padding:0px 0px 0px 15px;

}



#wrapper{
	margin:0 auto;
	width:100%;
	background:#242424;
	}
.maintable{
	width:900px;
	margin:0 auto;
	
}
.menu{
	width:900px;
	height:125px;
	background:url(images/image-1.png) no-repeat;
	text-align:center;
	}	
.header{
	width:900px;
	margin:0 auto;
	background:#242424;
	
}
.header_left{
	width:230px;
	margin-left:10px;
	float:left;
	}
.header_left_1{
	width:180px;
	border:1px solid #666666;
	margin-top:5px;
	padding-bottom:5px;
	background:#363636;s
}
.header_right{
	width:640px;
	float:right;
	border:1px solid #666666;
	vertical-align:top;
	text-align:center;
	background:#242424;
	padding-bottom:15px;}
.image_1{
	width:105px;
	margin:9px 0 0 35px;
	height:75px;
	text-align:center;
	float:left;
	background:#242424;
	
	}
.image_2{
	width:145px;
	float:left;
	margin-top:10px;
	background:#242424;
	padding-left:10px;
}
.image_2 a{
	list-style:none;
	text-decoration:none;
	padding-left:12px;
}
		
p{
	font-family:"Times New Roman", Times, serif;
	color:ffffff;
	font-size:12px;
	/*padding-left:35px;*/	
}

.image{
	width:105px;
	margin:9px 0 0 35px;
	height:75px;
	text-align:center;
	}
.buttom{
	width:101px;
	height:22px;
	margin:9px 0 0 35px;
	
	}
.buttom a{
list-style:none;
text-decoration:none;
line-height:22px;
	}
.buttom a:hover{
	/*display:block;
	background:#993300;
	line-height:40px;*/
	}
	
	
	
img{
	border:none;
	}
.buttom_1{
	width:120px;
	margin:9px 0 0 28px;
	text-align:center;
	
	}
.buttom_1 a{
/*line-height:22px;*/
text-decoration:none;
border:none;
}
.buttom_1 a:hover{
	display:block;
	/*background:#993300;
	line-height:22px;*/		
	}	
	
.fotter{
width:300px;
float:right;
border-left:2px solid #CCCCCC;
padding-top:2px;
}
.fotter_1{
	width:300px;
	text-align:center;
	}
#backgorud{
width:100%;
height:auto;
background-color:#383934;
}
.mainpage{
width:900px;
height:auto;
margin:0 auto;
background:#393a35;
}
.header{
width:900px;
height:auto;
margin:0 auto;
}
.navboxleft{
width:5px;
height:41px;
float:left;
background:url(images/navbgleft.png) no-repeat left top;
}
.navboxmedill{
width:820px;
height:41px;
float:left;
background:url(images/medillbg.png) repeat left top;
}
/*.nav{
width:890px;
height:41px;
margin:0 auto;
}
.nav ul{
list-style:none;
}
.nav li {
float:left;
background:url(image/line.png) no-repeat right;
}
.nav li a{
display:block;
text-decoration:none;
line-height:41px;
color:#000000;
font-weight:bold;
padding:0 55px;
}*/
.textbx{
width:400px;
height:30px;
float:left;
line-height:30px;
}
.textbox1{
width:390px;
height:30px;
float:left;
margin-top:-20px;
line-height:30px;
}
.imagbox{
width:50px;
float:right;
margin-right:10px;
margin-top:-12px;
height:30px;
}


.navboxright{
width:5px;
height:41px;
float:right;
background:url(images/navbgright.png) no-repeat right top;
}
/*.image{
background:url(images/button.png) no-repeat;
position:absolute;
position:relative;
z-index:0px;
}*/
.contantpage{
width:900px;
height:auto;
margin:0 auto;
}
.sideleft{
width:201px;
height:auto;
float:left;
margin-top:10px;
font-size:13px
}
.sidelefttopbg{
width:201px;
height:12px;;
margin:0 auto;
background:url(images/topbgimage.png) no-repeat top left;
float:left;
}
.sidemiddlebg{
width:201px;
height:auto;
background:url(images/middlebg.png)  repeat top;
}
.sidebottombg{
width:201px;
height:12px;
background:url(images/rightimage.png) bottom no-repeat;

}

.sideleftmenu{
width:200px;
float:left;
height:auto;
}
.sideleftmenu ul{
list-style:none;
padding-left:10px;
}
.sideleftmenu li{
background:url(images/linkbullet.gif) no-repeat left center;
padding:0px 10px 0px 15px;
}
.sideleftmenu li a{
display:block;
line-height:20px;
height:20px;
color:#FFFFFF;
font-weight:bold;
text-decoration:none;
text-align:left;
padding:0 5px;
border-bottom:#999999 1px dashed;

}
.sideright{
width:640px;
height:auto;
float:left;
}
.sideleftimage{
width:201px;
height:200px;
float:left;
margin-top:5px;
}
.siderightimage{
width:640px;
height:auto;
float:left;
margin:10px 0 0 10px;
}
.siderightbottmimage{
width:640px;
height:10px;
float:left;
background:url(images/bottombgrightside.png) no-repeat center;
margin-left:10px;
}
.footer{
width:640px;
float:left;
height:auto;
margin-left:10px;
background:url(images/siderightfooterbg.png) repeat top;
height:30px;
}
.dropdownmenu{
width:201px;
height:auto;
float:left;
padding:5px 0 0 10px;
}

#products .slides_container {
	width:638px;
	float:right;
	position:relative;
	margin-top:-370px;
	
	display:none;
	
	
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

#container {
	width:850px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#products_example {
	width:350px;
	height:100px;
	position:relative;
	
}

/*
	Slideshow
*/

#products {
	margin-left:0px;

}

.slides_container a {
	width:638px;
	height:480px;
	display:block;
}

/*
	Next/prev buttons
*/

/*#products .next,#products .prev {
	position:absolute;
	top:127px;
	left:0;
	width:21px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}*/

#products .prev {
}

#products .next {
	left:398px;
}

/*
	Pagination
*/

#products .pagination {
border:solid 1px   #666666;
	background:#484844;
	width:165px;
	padding:5px 5px;
	float:left;
	margin-left:10px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	
}

#products .pagination li {
	float:left;
	margin:2px 4px;
	list-style:none;
	background:#484844;
}

#products .pagination li a {
	display:block;
	width:40px;
	height:25px;
	margin:2px;
	float:left;
	
}

#products .pagination li.current a {
	
	margin:0; border:none;
}
.category-List tr td{
	padding:5px;
    
	
    
}


.category-List tr td.smallText{
	border-bottom:2px dotted #777;
  background: #393a35;
}

.category-List tr td.smallText:hover{
    -moz-box-shadow: inset 0px 8px 7px #555;
    -webkit-box-shadow: inset 0px 8px 7px #555;
    box-shadow: inset 0px 8px 7px #555;
	border:2px solid #efa600;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding:3px 3px 4px 3px;
}
.category-List tr td.smallText a{
	font:12px Verdana, Arial, Helvetica, sans-serif;
	display:block;
	font-weight:bold;
}
.category-List tr td.smallText a:hover{
	text-decoration:none;
}

ul.head-table li{
	list-style:none;
	display:inline-block;
	margin:2px 9px;
	float:left;
}
ul.head-table{
 background-color:#444;
 margin:0 0 2px 0;
 padding:0px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
 border-bottom:1px solid #888;
 border-left:1px solid #888;
 border-right:1px solid #888;
 
}
ul.head-table li img{
	width:187px;
}

div.select-option{
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border:1px solid #999;
padding:5px 0 5px 0;
}
div.teesh h1,h2,h3,h4,h5{
	
	text-align:center;
}
div.teesh p{
	color:black;
	text-align:center;
}
div.teesh1 p{
	color:black;
	text-align:center;
}
div.teesh1 h1,h2,h3,h4,h5{
	
	
	
	text-align:center;
}
div.product-title{
font:16px Arial, Helvetica, sans-serif;
font-weight:bold;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
min-height:20px;
text-align:center;
background:#555;
padding:5px;
color:#f4f4f4;
display:inline-block;
width: 99% ;
}
div#product-image{
    height:auto;
    width: 190px;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

}

table#cart-form{
   border:1px solid #777;
   padding:2px 0 2px 2px;
   width:250px;
   background: #484844;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
}
table#cart-form tr td{
   vertical-align: middle;
   padding: 0;
   margin: 0;
   font-weight: bold;
   color: #f4f4f4;
}
table#cart-form tr td select, table#cart-form tr td input{
   display: block;
   background-color:#c7c7c5 !important;
   padding: 2px;
   border: 1px solid #5c6266;
   float: right;
   color:#444444;
   border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
     -moz-box-shadow: inset 0px 8px 7px #bfbfbe;
    -webkit-box-shadow: inset 0px 8px 7px #bfbfbe;
    box-shadow: inset 0px 8px 7px #bfbfbe;
}
table#cart-form tr td select#post_height{
    width:96px;
    background: url("images/arrow.png") no-repeat right;
    margin: 0 3px;
    padding: 1px;
    font-weight: bold;
    appearance: button;
   -moz-appearance: button;
   -webkit-appearance: button;
}
table#cart-form tr td select{
    width:96px;
    background: url("images/arrow.png") no-repeat right;
    margin: 0 3px;
    padding: 1px;
    font-weight: bold;
    appearance: button;
   -moz-appearance: button;
   -webkit-appearance: button;
}
table#cart-form tr td option{
   /* background: #393a35;
    margin: 5px 0;*/
}
table#cart-form tr td select:hover{
  border-color: #efa600;
  }
  table#cart-form tr td input:active{
   -moz-box-shadow: inset 0px 8px 7px #8f8f8d;
    -webkit-box-shadow: inset 0px 8px 7px #8f8f8d;
    box-shadow: inset 0px 8px 7px #8f8f8d;
  
  }
  table#cart-form tr td input:hover{
  border-color: #efa600;
  padding: 2px;
  }
table#cart-form h1{
	text-decoration: underline;
    float:left;
    padding-left:0;
    font-size: 12px;
}
table#cart-form ul{
    float: right;
    margin: 2px;
    padding: 0;
}
table#cart-form ul li.images{
    width:12px;
}
table#cart-form ul.option-panel li{
    float: left;
    display: inline-block;
    list-style: none;
}
table#cart-form ul.option{
    float: right;
    width: 170px;
    margin: 2px;
    padding: 0;
    background: #393a35;
    border:0px solid #888;
   
}
table#cart-form ul li ul.option li{
    list-style: none;
    text-align: left;
    float: none;
    cursor: default;
    color:#f4f4f4;
    font-weight: bold;
    font-size: 11px;
    display: block;
    border-bottom: 2px dotted #777;
    padding: 4px;
}
table#cart-form ul li ul.option-images li{
    list-style: none;
    width:12px;
    float: none;
    cursor: default;    
    display: block;    
    padding: 9px 6px 0 0px;   
}
table#cart-form ul.option li.last{
    border:none;
}
table#cart-form ul.option li.last:hover{
    padding:2px;
}
table#cart-form ul.option li.selected{
    background: #c18700;
     border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
table#cart-form ul.option li.selected:hover{
    -moz-box-shadow: inset 0px 8px 7px #dab460;
    -webkit-box-shadow: inset 0px 8px 7px #dab460;
    box-shadow: inset 0px 8px 7px #dab460;
}
table#cart-form ul.option li:hover{
    border: 2px solid #efa600;
    padding: 3px;
    -moz-box-shadow: inset 0px 8px 7px #555;
    -webkit-box-shadow: inset 0px 8px 7px #555;
    box-shadow: inset 0px 8px 7px #555;
}
table.price tr td{
    padding: 1px !important;
    margin: 0;  
}
table.mainTable2{
    padding:0px;
}
table tr td.gallery img{
    border:3px solid #f4f4f4;
    margin-bottom: 10px;
}
table.custom{
    background: #242424;
    border:1px solid #666;
}
div.buttonSet{
    width:100px;
}
a.ui-button{
   /* display: block;*/
    color:#f4f4f4;
    width:100px;
    background: #171717 !important;
}
#fake_body {  background: #cccccc; }
button.ui-button{
    display: block;
    color:#f4f4f4;
    width:100px;
    background: #171717 !important;
}
.edit_account a.ui-button{
	display:inline-block;
}
.buttonSet .buttonAction a.ui-button{
	display:inline-block !important;
}
.buttonAction  a.ui-button{
width:150px;
margin:0 0 5px;
}
.buttonAction  button.ui-button{
width:150px;
margin:0 0 5px;
}

div.infoBoxContainer table{
    float:right;
}
#direction_show1{
    position: absolute;
    z-index: 1000;
    left:100px
}
#image1{
    background: url('images/top_image.png');
    width: 146px;
    position: relative;
    left:359px;
    top:35px;
}
#image2{
    background: url('images/mid-image.png');
    width: 146px;
    position: relative;
    left:359px;
    top:35px;
}
#image3{
    background: url('images/buttom_image.png');
    width: 146px;
    position: relative;
    left:359px;
    top:35px;
}
.message_w{
    border:2px solid #ff0000;
}

table#cart-form tr td .next_button {
    border-color: #FF0000;
    }
	
	
	
	