#results{
font: 12px Arial, Helvetica, sans-serif;
width: 400px;
margin-left: auto;
margin-right: auto;
}
#results .loading-indication{
	background:#FFFFFF;
	padding:10px;
	position: absolute;
}
.paginate {
	padding: 0px;
	margin: 0px;
	height: 30px;
	display: block;
	text-align: center;
}
.paginate li {
	display: inline-block;
	list-style: none;
	padding: 0px;
	margin-right: 1px;
	width: 9px;
	text-align: center;
	background: #85B5D9;
	line-height: 25px;
}
.paginate .active33 {
	display: inline-block;
	list-style: none;
	padding: 0px;
	margin-right: 1px;
	width: 25px;
	text-align: center;
	line-height: 25px;
	background-color: #054F87;
}
.active {
 background-color: #ccc;
}
.paginate li a{
	color:#FFFFFF;
	text-decoration:none;
}
.page_result{
	padding: 0px;
}
.page_result li{
	background: #E4E4E4;
	margin-bottom: 5px;
	padding: 10px;
	font-size: 12px;
	list-style: none;
}
.page_result .page_name {
font-size: 14px;
font-weight: bold;
margin-right: 5px;
}
div.section_row {clear:both; margin-left:auto; margin-right:auto; width:90%; padding-top:0px; }
div.section_column a:link { float:left; width:60px; padding-left:10px; color:#cc0000; text-align:center;}
div.shadow { width:90px; height:12px; background-color:#ccc; box-shadow: 6px 6px 5px #888888; padding:0px 0px 4px; border-radius:6px;}
div.statsHeaderLeft{float:left; width:67%; height:120px}
div.statsHeaderRight{position:relative; float:right; margin-right:16px; width:30%; height:120px; vertical-align:top}
div.statsLeft {display:inline-block; margin-left:10px; width:300px}
div.statsRight {display:inline-block}